@font-face{
    font-family: Montserrat Regular;
    font-display: auto;
    src: local('Montserrat Regular'), url(./assets/fonts/Montserrat-Regular.woff2);
    font-style: normal;
}
@font-face{
    font-family: Montserrat Bold;
    font-display: auto;
    src: local('Montserrat Bold'), url(./assets/fonts/Montserrat-Bold.woff2);
    font-style: normal;
}
@font-face{
    font-family: Montserrat ExtraBold;
    font-display: auto;
    src: local('Montserrat ExtraBold'), url(./assets/fonts/Montserrat-ExtraBold.woff2);
    font-style: normal;
}
@font-face{
    font-family: Montserrat Italic;
    font-display: auto;
    src: local('Montserrat Italic'), url(./assets/fonts/Montserrat-Italic.woff2);
    font-style: normal;
}
@font-face{
    font-family: Montserrat Medium;
    font-display: auto;
    src: local('Montserrat Medium'), url(./assets/fonts/Montserrat-Medium.woff2);
    font-style: normal;
}
body{
    margin: 0;
    font-family: 'Montserrat Medium';
}


.navbar {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 57px;
    border-bottom: 2px solid #A1A1A1;
    padding-bottom: 39px;
    left: 0;
    right: 0;
    position: absolute;
     }




  .container {
    width: 70%;
    margin: 0 auto;
   
    
  }

  .navbar .menu-points a {

    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px;
    top: 40px;
   
  }

.primary-button {
    font-family: 'Montserrat Medium';
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-weight: 500px;
    line-height: 20px;
    font-size: 16px;
    padding: 14px 36px;
    border: 0;
    color: #FFFFFF;

}

.container {
    width: 75%;
    margin: 0 auto;
}

h3 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: white;
    font-family: 'Montserrat Regular';
    margin: 0;
    
}

h1 {
    font-size: 48px;
    line-height: 64px;
    color: white;
    text-align: center;
}

.home-section {
    background-image: url(./assets/img/Rectangle.jpg);
    height: 100vh;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.home-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.home-section-content h1 {
    margin: 30px 0 50px;
}





.mobile-app-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat Bold';
    
  }


  .about-mobile-app {
    text-align: center;
    padding-bottom: 70px;
    margin: 0 15%;
    font-family: 'Montserrat Normal';
    color: #999999;
  }
  
  .list-mobile-apps {
    display: flex;
    padding-bottom: 55px;
  }
  
  .list-mobile-apps-items{
    display: flex;
    justify-content: center;
  }
  
  .external_circle{
    margin: 0;
    opacity: 1;
    padding: 10px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
  }
  
  .internal_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #4985FF;
    box-sizing: border-box;
  }
  .internal_circle img{
    height: 40px;
    width: 40px;
  }
  
  .mobile-app-section .primary-button{
    margin-bottom: 105px;
  }
  
  .list-mobile-apps .item-name{
    font-family: 'Montserrat Bold';
    padding: 45px 27px 12px 17px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  .list-mobile-apps .item-text{
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    padding: 0 27px 0 17px;
    font-family: 'Montserrat Normal';
  }
  







  .high-standart {
    background: #F6F6F8;
    
  }
  
  .high-standart-main {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
  
  .high-standart-content {
    display: flex;
    padding-bottom: 90px;
  }
  
  .high-standart-content-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 120px;
  }

  .high-standart-content-text span {
    font-family: 'Montserrat Normal';
    color: #999999;
  } 
  
  .high-standart-content-text h2{
    font-family: 'Montserrat Bold';
    padding: 52px 0 40px;
    text-align: left;
    font-size: 36px;
    line-height: 53px;
  }
  
  .high-standart-content-text a {
    text-decoration-line: underline;
    color: #4985FF;
    padding-top: 30px;
  }
  
  .high-standart-content-image {
    flex: 1;
  }
  
  .high-standart-content-image img{
    width: 100%;
  }
  
  .high-standart-items {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #E0E0E0;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
  }
  
  .item-quantity{
    display: flex;
  }
  
  .item-quantity div{
    font-size: 36px;
    line-height: 53px;
  }
  .item-quantity img{
    align-self: center;
    max-width: 52px;
    max-height: 30px;
    padding: 0 20px 0 0;
  }
  
  .item-name-projects {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
  }
  
  .item-name-pro{
    font-size: 16px;
    line-height: 25px;
    color: #999999;
  }






.our-work {
background: linear-gradient(#504DC2 50%, #fff 50%);
padding: 100px 0 85px;
}

.our-work-title {
    display: flex;
    justify-content: space-between;
}

.our-work-title h2, 
.our-work-title-button {
    flex: 1;
}
.our-work-title-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.our-work-title h2 {
    color: #fff;
    font-size: 36px;
    line-height: 53px;
    font-family: 'Montserrat Bold';
    margin: 0;

}
.our-work-content {
display: flex;
justify-content: space-between;
margin-top: 70px;
padding-bottom: 85px;
border-bottom: 1px solid #E0E0E0;
}

.our-work-item {
    width: 31%;

}

.our-work-item img {
    width: 100%;
}
.our-work-item h5 {
    font-family: 'Montserrat Bold';
    font-size: 18px;
    line-height: 22px;
}
.our-work-item h5 span {
    color: #4985FF;
}

.our-work-item p {
font-size: 16px;
line-height: 25px;
color: #999999;
}

.our-work-item a {
   font-size: 16px;
   line-height: 20px;
   text-decoration-line: underline;
   color: #4985FF;
}







.our-projects {
    background: #F6F6F8;
}
.our-projects h2 {
    font-family: 'Montserrat Bold';
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    padding: 110px 0 50px;
    
}
.our-projects-text {
    font-family: 'Montserrat Normal';
    color: #999999;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding: 0 10% 70px;
}
.our-projects-image{
    justify-content: space-between;
    display: flex;
    
}
.our-projects-image-item {
    
    padding: 0 15px;
}

.our-projects-image-item img{
    width: 100%;
}

.our-projects button {
    
    
    margin: 50px 0 130px;
    
}






.video-about-our-work {
    background-image: url(./assets/img/комп.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .video-about-our-work h2 {
    text-align: center;
    color: #FFFFFF;
    padding: 70px 0 30px;
  }
  
  .video-about-our-work span{
    color: #FFFFFF;
  }
  
  .video-about-our-work-text {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Montserrat Normal';
    color: #FFFFFF;
  }
  
  .video-about-our-work-clip {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
  }
  
  .video-about-our-work-clip-image {
    width: 100%;
  }
  
  .play-video-buttom {
    display: flex;
    align-items: center;
    padding-right: 30px;
    position: absolute;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 200px;
  }
  
  .play-video-buttom img {
    padding: 20px 20px 20px 40px;
  }
  
  .play-video-buttom-text {
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
  }







.subscription-section {
    text-align: center;
    padding: 85px 0;
    border: 1px solid red;

}
.subscription-section h3 {
    color: #000;
    font-family: 'Montserrat Bold';
    font-size: 18px;
    line-height: 22px;
    margin: 0;

}
.subscription-section p {
    font-size: 16px;
line-height: 25px;
color: #999999;
margin: 20px 0 30px;


}
.subscription-section span {
    font-size: 13px;
    line-height: 21px;
    color: #999999;
}
.subscription-section .subscribe-block{
    display: flex;
    justify-content: center;
    width: 490px;
    margin: 0 auto 35px;
}
.subscribe-block input {
    border-radius: 30px 0 0 30px;
    flex: 2;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    padding: 14px 0 14px 33px;
}
.subscribe-block-input::placeholder {
    font-size: 13px;
    line-height: 21px;
    color: #999999;
}
.subscribe-block input:focus {
    outline: 0;
}
.subscribe-block .primary-button {
    border-radius: 0 30px 30px 0;
    flex: 1;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}



footer {
    background: #F6F6F8;
  }
  
  .content{
    font-family: 'Montserrat Normal';
    color: #999999;
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    border-bottom: 1px solid #E0E0E0;
  }
  
  .content h3 {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-align: start;
  }
  
  .content ul{
    padding-left: 20px;
    margin: 35px 0 0;
    line-height: 30px;
    list-style-image: url(./assets/img/Vector.png);
  }
  .contact-information ul li:nth-child(1){
  
    list-style-image: url(./assets/img/envelope.png);
  }
  .contact-information ul li:nth-child(2){
    
    list-style-image: url(./assets/img/Vector\ \(1\)1.png);
  }
  .contact-information ul li:nth-child(3){
  
    list-style-image: url(./assets/img/placeholder.png);
  }
  
  .copyright {

    color: #999999;
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }





@media (max-width: 900px) {
  h1 {
    font-size: 20px;
    line-height: 22px;
  }
  .our-work-content {
      flex-wrap: wrap;
  }
  .our-work-item {
      width: 47%;
      margin-bottom: 10px;
  }
}
@media (max-width: 800px){
    .our-work-title{
flex-direction: column;

   }
}

@media(max-width: 600px) {
    .our-works-item {
        width: 100%;
    }

    .high-standart-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
